.email-container {
  /* height: 100vh; */
  height: calc(100vh - 64px);
  overflow-y: auto;
  width: 100%;
}
.filters-comp {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgb(208 208 208);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.email-row {
  gap: 10px;
  transition: all 20ms ease-in-out;
  height: 40px;
  border-bottom: 1px solid #8080801f;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.email-row:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
}
.all-email-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sender-box {
  width: 140px;
}
.body-box {
  gap: 10px;
  height: 100%;
  align-items: center;
  justify-content: start;
  display: flex;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.divider {
  width: 1px;
  background-color: gray;
  opacity: 50%;
  height: 50%;
}
.action-items-cont {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.subject-box {
  font-weight: lighter;
  opacity: 70%;
}
@media (max-width: 800px) {
  .divider {
    display: none;
  }
  .action-items-cont {
    display: none;
  }
  .email-row {
    margin: 0px 5px;
    flex-direction: column;
    align-items: start;
    height: 80px;
    gap: 8px;
    padding: 5px;
  }
  .sender-box {
    font-weight: bold;
  }
  .subject-box {
    font-weight: lighter !important;
    opacity: 70%;
  }
  .body-box {
    width: 100%;
    gap: 2px;
    flex-direction: column;
    gap: 0;
    align-items: start;
  }
  .dash {
    display: none;
  }
}
