.main-email-container {
  overflow-y: auto;
  height: calc(100vh - var(--navbar-height));
  width: 100%;
  background-color: white !important;
  border-radius: 5px;
}
.skeleton-row {
  padding: 0px 10px;
}
.unread {
  background-color: #f6f6f6;
}
