.chat-window-cont {
  height: 100%;
  width: 100%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 20px;
}
.messages-box {
  gap: 20px;
  overflow: auto;
  height: 70vh;
  width: 100%;
  /* border: 1px solid green; */
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
}
.send-bar-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
  height: 70px;
  width: 100%;
}
.msg-box {
  width: 100%;
  /* border: 1px dotted red; */
  display: flex;
  flex-direction: row;
}

/* add in dark also  */
.single-message-box {
  word-break: break-all;
  position: relative;
  background-color: lightgray;
  padding: 10px;
  cursor: pointer;
  position: relative;
  min-width: 100px;
}

.single-message-box-dark {
  background-color: #555555;
  cursor: pointer;
}

.messaging-to-cont {
  height: 50px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--bg-color);
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.message-timestamp {
  position: absolute;
  top: 102%;
  font-size: 8px;
  opacity: 50%;
}
@media (max-width: 800px) {
  .send-message-input {
    width: 100% !important;
  }
  .messages-box {
    padding: 5% 0%;
  }
}
