.chat-window-cont {
  height: 100%;
  width: 100%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 20px;
}
.messages-box {
  gap: 10px;
  overflow: auto;
  height: 70vh;
  width: 100%;
  /* border: 1px solid green; */
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
}
.send-bar-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid orange; */
  height: 70px;
  width: 100%;
}
.msg-box {
  width: 100%;
  /* border: 1px dotted red; */
  display: flex;
  flex-direction: row;
}

/* add in dark also  */
.single-message-box {
  position: relative;
  background-color: lightgray;
  padding: 10px;
  cursor: pointer;
}

.single-message-box-dark {
  background-color: #555555;
  cursor: pointer;
}

.messaging-to-cont {
  height: 50px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--bg-color);
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
