.single-emailcontainer {
  padding: 10px;
}
.single-email-from-cont {
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: center; */
}
.fdhjsbfdsafd {
  margin: 10px;
  display: flex;
  flex-direction: row;
}
.single-email-container {
  width: 100%;
  overflow-x: auto;
}
.single-email-body {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.fordard-reply-box{
  gap: 5px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1250px) {
  .single-email-container {
    width: 100%;
    height: calc(100vh - var(--navbar-height));
  }
}
