.single-emailcontainer {
  padding: 10px;
}
.single-email-from-cont {
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: center; */
}
.fdhjsbfdsafd {
  margin: 10px;
  display: flex;
  flex-direction: row;
}
.br {
  border: 1px solid red;
}
.bb {
  border: 1px solid blue;
}
.bg {
  border: 1px solid green;
}
