.new-email-container {
  position: fixed;
  bottom: 0;
  height: 4rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: end;
  padding: 0px 10px;
}
.new-email-box {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  height: 3rem;
  width: 15rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.new-e-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.heading-new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f6fc;
  padding: 5px 10px;
  align-items: center;
}
.form-container {
  padding: 10px;
}
.form-email {
  gap: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 430px;
  justify-content: space-evenly;
}
.new-email-form-box {
  width: 500px;
  height: max-content;
  max-width: 600px;
}
.new-email-submit-button {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.image-upload-per-email {
  height: 50px !important;
  max-width: 80px !important;
  border: 1px solid;
  border-radius: 5px;
  width: fit-content;
}
.attachments-cont {
  overflow: auto;
  max-height: 130px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.image-container {
  position: relative;
  &:hover {
    .close-button {
      display: flex;
    }
  }
}
.close-button {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  z-index: 8;
  display: none;
  position: absolute;
  top: 35%;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: black;
  border-radius: 20%;
  border: 1px solid white;
}
.close-svg {
  color: white;
}
.error-async {
  border: 1px solid red;
  border-radius: 5px;
}
.error-line {
  color: #d32f2f;
  font-size: 12px;
  margin-left: 13px;
}
@media (max-width: 1000px) {
  .new-email-container {
    bottom: var(--navbar-height);
  }
  .refresh-button {
    display: none;
  }
  .new-email-form-box {
    width: 80vw;
  }
}
