.side-menu-container {
  height: calc(100vh - var(--navbar-height));
  transition: all 500ms;
  overflow-x: hidden;
  background: #dfdfdf;
  z-index: 100;
}
.side-menu-container-dark {
  background: var(--dark-theme-color) !important;
}

.menu-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
@media (max-width: 1050px) {
  .side-menu-container {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 4rem;
    width: 100% !important;
  }
  .side-menu-icon-container {
    display: flex;
    justify-content: space-around;
  }
}
