.side-menu-container {
  height: calc(100vh - var(--navbar-height));
  background-color: #dfdfdf;
  transition: all 500ms;
  overflow-x: hidden;
}
.menu-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
