.chat-side-menu-container {
  width: var(--chat-side-width);
}
/* change in both  */
.chat-side-menu-container-collapsed {
  width: 4rem;
}
.chat-side-menu-container {
  transition: all 200ms;
  border-right: 1px solid #c2c2c2;
}
.add-new-chat-button-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.chat-sm-toggle {
  position: absolute;
  right: -13px;
  top: 6px;
}
.border-bottom-chat-menu {
  border-bottom: 1px solid var(--bg-color) !important;
}
.add-new-chat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 10px;
  background-color: #f3f3f3;
  border-radius: 50px;
  margin: auto;
  gap: 10px;
  margin-top: 10px;
}
.add-chat-dark {
  background-color: var(--dark-theme-color);
  color: white;
}
.per-chat-line {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.per-chat-line > div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
.new-chat-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.he-20 {
  height: 20px;
}

.custom-async-dropdown-option {
  background-color: white !important;
  transition: all 200ms ease;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid var(--bg-color);
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  z-index: 20;
}

.ffffffffffff .css-1nmdiq5-menu * {
  background-color: white !important;
}
.new-msg-count {
  font-weight: bold;
  display: flex;
  height: 30px;
  border: 1px solid var(--bg-color);
  padding: 3px;
  border-radius: 50%;
  width: 30px;
  align-items: center;
  justify-content: center;
}
.start-new-chat-container {
  width: 500px;
  padding: 10px;
}
@media (max-width: 800px) {
  .start-new-chat-container {
    width: 80vw;
    padding: 10px;
  }
  .chat-side-menu-container {
    /* display: none; */
  }
}
