@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
:root {
  --text-clr: black;
  --bg-color: rgb(223, 223, 223);
  --navbar-height: 64px;
  --chat-side-width: 250px;
  --dark-theme-color: #17191a;
  --dark-theme-color-little-light: #232628;
}
html {
  color: var(--text-clr);
  background-color: var(--bg-color);
}
* {
  font-family: "Raleway", sans-serif !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: white;
  height: calc(100vh - var(--navbar-height));
}
svg {
  width: 21px !important;
  height: 21px !important;
}
*::-webkit-scrollbar {
  width: 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.7);
}

.l-t-svg {
  color: #dfdfdf;
}
.d-t-svg {
  color: #212121;
}

.l-t {
  background-color: #dfdfdf;
}
.d-t {
  background-color: var(--dark-theme-color);
}
.d-t-l {
  background-color: #242424;
}
.main-container-t-w {
  background-color: var(--dark-theme-color) !important;
  h1,
  h2,
  h3,
  h5,
  h6 {
    color: white !important;
  }
}
.dark-theme-light {
  color: white !important;
  background-color: var(--dark-theme-color-little-light) !important;
}
