@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
:root {
  --text-clr: black;
  --bg-color: rgb(223, 223, 223);
  --navbar-height: 64px;
}
html {
  color: var(--text-clr);
  background-color: var(--bg-color);
}
* {
  font-family: "Raleway", sans-serif !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  flex-direction: row;
}
svg {
  width: 21px !important;
  height: 21px !important;
}
