.login-screen {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  position: absolute;
}
.main-heading {
  font-size: 5vw;
  text-align: center;
}

@media (max-width: 1250px) {
  .main-heading {
    font-size: 10vw;
  }
  .please-sign-in {
    font-size: 5vw;
  }
  .app-name {
    font-size: 6vw !important;
  }
}
